github_app_repositories       = ["brisipin/brackets"]
create_github_oidc_provider   = true
github_oidc_provider_arn      = ""
budget_alert_emails           = ["bsipin@gmail.com"]
budget_monthly_usd            = 50
